* {
    box-sizing: border-box;
    font-family: sans-serif ;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    padding: .5em

}

.main-header {
    background-image: url("TWS.jpg");
    background-size: cover;
}